<div class="corp">

  <h2 class="text-center">Air Flight</h2>
  <div class="block">
    <h4 class="text-center">Trouvez votre vol chez AirFlight et ses collaborateurs</h4>


    <h6 class="text-center">Des prix abordables</h6>
    <h6 class="text-center">Plus de vols disponibles</h6>
    <h6 class="text-center">91% de nos clients sont satisfaits</h6>

    <div class="row">
      <button type="submit" class="btn btn-primary col-sm-2 offset-sm-5" routerLink="/reservation" routerLinkActive="active">chercher</button>
    </div>
  </div>
 
</div>

