@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <h2>Bienvenue sur la compagnie aérienne Reu !</h2>
    <p>Sur ce site vous pouvez :</p>
    <ul>
        <li><a>Ajouter une réservation pour un vol</a></li>
        <li><a>Modifier une réservation pour un vol</a></li>
        <li><a>Supprimer une réservation pour un vol</a></li>
        <li><a>Consulter la liste des réservations déjà effectuées</a></li>
    </ul>
    
</div>
